@import 'variables';

* {
    color: $bg-color;
}

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;
}

:-ms-input-placeholder {
   color: $placeholder-color;
}

textarea:focus, input:focus{
    outline: 0;
}

header {
    width: 100%;
    background-color: #AC1E34;
    box-shadow: 0 1px 5px black;
}

header > img {
    padding: 20px;
    min-height: 100px;
    width: 200px;
    cursor: pointer;
    vertical-align: top;
}

@media (max-width: 600px) {
    header > img {
        padding: 10px;
        max-width: 40%;
    }
}

header > #ad {
    padding: 0;
    height: 140px;
    width: 320px;
    position: absolute;
    right: 0;
}

@media (max-width: 600px) {
    header > #ad {
        height: 120px;
        max-width: initial;
        width: 190px;
    }
}

header > nav {
    position: relative;
    max-height: 40px;
    background-color: #2B2321;
}

header > nav > input {
    margin: 8px 20px 10px 17px;
    border-radius: 2px;
    border-width: 0;
    padding-left: 3px;
    width: 200px;
    height: 20px;
    background-color: #2B2321;
    color: $placeholder-color;
    border-bottom: $placeholder-color 1px solid;
}

header > nav > .fa {
    margin-left: -2.7em;
    cursor: pointer;
    color: $placeholder-color;
}

@media (max-width: 600px) {
    header > nav > input {
        margin: 10px 20px 10px 12px;
        max-width: calc(40% - 3px);
    }
}

header > nav > ul {
    position: absolute;
    margin: 0;
    height: 100%;
    display: inline;
    right: 0;
    top: 0;

    li {
        height: 100%;
        float: left;
        width: calc(50% - 2px);
        text-align: center;
        border-left: 1px solid $placeholder-color;
        padding-left: 1px;
        width: 9em;
        cursor: pointer;

        @media (max-width: 600px) {
            width: 5.5em;
        }

        span {
            color: $placeholder-color;
            line-height: 40px;
        }

        .fa {
            margin-left: 5px;
            color: $placeholder-color;

            @media (max-width: 900px) {
                display: none;
            }
        }

        i:nth-child(1) {
            font-size: 0.8em;
        }
    }

    li:hover {
        background-color: $placeholder-color;

        span {
            color: white;
        }

        .fa {
            color: white;
        }
    }
}

header > nav > div > * {
    color: $placeholder-color;
}

header > nav > div > .fa {
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    header > nav > div {
        margin-top: 12px;
    }

    header > nav > div > *, header > nav > div > .fa {
        font-size: 0.8em;
    }
}
