@import 'variables';

* {
    color: $bg-color;
}

body {
    overflow-x: hidden;
}

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;
}

:-ms-input-placeholder {
   color: $placeholder-color;
}

textarea:focus, input:focus{
    outline: 0;
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
}

// Navigation Bar
header {
    width: 100%;
    z-index: 2;
    background-color: $red;
    box-shadow: 0 1px 5px black;
}

header > img {
    padding: 20px;
    min-height: 100px;
    width: 200px;
    cursor: pointer;
    vertical-align: top;
}

@media (max-width: 600px) {
    header > img {
        padding: 10px;
        max-width: 40%;
    }
}

header > #ad {
    padding: 0;
    height: 140px;
    width: 320px;
    position: absolute;
    right: 0;

    @media (max-width: 600px) {
            height: 120px;
            max-width: 50%;
            width: 190px;
    }
}

header > nav {
    position: relative;
    max-height: 40px;
    background-color: #2B2321;
}

header > nav > input {
    margin: 8px 20px 10px 17px;
    border-radius: 2px;
    border-width: 0;
    padding-left: 3px;
    width: 200px;
    height: 20px;
    background-color: #2B2321;
    color: $placeholder-color;
    border-bottom: $placeholder-color 1px solid;
}

header > nav > .fa {
    margin-left: -2.7em;
    cursor: pointer;
    color: $placeholder-color;
}

@media (max-width: 600px) {
    header > nav > input {
        margin: 10px 20px 10px 12px;
        max-width: calc(100% - 11em - 62px);
    }
}

header > nav > ul {
    position: absolute;
    margin: 0;
    height: 100%;
    display: inline;
    right: 0;
    top: 0;

    li {
        height: 100%;
        float: left;
        width: calc(50% - 2px);
        text-align: center;
        border-left: 1px solid $placeholder-color;
        color: $placeholder-color;
        padding-left: 1px;
        line-height: 40px;
        width: 9em;
        cursor: pointer;

        @media (max-width: 600px) {
            width: 5.5em;
        }

        span {
            color: $placeholder-color;
        }

        .fa {
            margin-left: 5px;
            color: $placeholder-color;
        }
    }

    li:nth-child(1) > i {
        font-size: 0.8em;
    }

    li:nth-child(1):hover, .hovered, .hovered > span {
        background-color: $placeholder-color;
        color: white;

        .fa {
            color: white;
        }
    }

    li:nth-last-child(1) {
        float: none;
        cursor: auto;
        visibility: hidden;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 170%;
        background-color: $placeholder-color;
        border-right: 2px solid $placeholder-color;
        z-index: 1;

        i {
            position: absolute;
        }

        i:nth-child(1) {
            left: calc( 15% - 2px);
        }

        i:nth-child(2) {
            left: calc(50% - 0.8em);
        }

        i:nth-last-child(1) {
            right: calc(15%);
        }
    }
}

header > nav > ul > li > .fa {
    @media (max-width: 900px) {
        display: none;
    }
}

header > nav > div > * {
    color: $placeholder-color;
}

header > nav > div > .fa {
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    header > nav > div {
        margin-top: 12px;
    }

    header > nav > div > *, header > nav > div > .fa {
        font-size: 0.8em;
    }
}

// Zac's Part
.outer-wrapper {
    width: 100%;
}

.outer-wrapper h1, h2 {
    margin-top: 50px;
    margin-left: 6%;
}

.outer-wrapper h1{
    font-size: 1.7em;
}

.outer-wrapper h2{
    font-size: 1.5em;
}

// Main Search Bar
.main-search {
    width: 100%;
    text-align: center;
}

.main-search > input {
    width: 80%;
    margin-top: 3em;
    height: 3em;
    color: $brown-color;
    border: 1px solid $brown-color;
    padding-left: 2em;
    font-size: 1em;
    border-radius: .25em;
}

.main-search > i {
    margin-right: -30px;
}

.main-search > input::-webkit-input-placeholder {
   color: black;
}

.main-search > input:-moz-placeholder { /* Firefox 18- */
   color: black;
}

.main-search > input::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

.main-search > input:-ms-input-placeholder {
   color: black;
}

// Movie carousel
.outer-carousel-wrapper, .outer-release-carousel-wrapper {
    width: 100%;
}

.outer-release-carousel-wrapper {
    margin-bottom: 300px;
}

#recommended-carousel {
    width: 88%;
    margin-left: 6%;
    text-align: center;
}

#new-release-carousel {
    margin-left: 6%;
    width: 38%;
    text-align: center;
    float: left;
}

 #theater-release-carousel {
    margin-left: 12%;
    width: 38%;
    text-align: center;
    float: left;
}

.movie-carousel-wrapper {
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
    border: 1px solid $brown-color;
    width: 30%;
    height: 200px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.movie-carousel {
    position: relative;
    overflow: hidden;
}

.movie-carousel ul {
    width: 200000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.movie-carousel li {
    float: left;
    height: 200px;
    // margin-right: 1px;
}

.movie-carousel img {
    max-height: 200px;
}

.movie-carousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.movie-carousel-control-prev,
.movie-carousel-control-next {
    position: absolute;
    background: transparent;
    // opacity: 0.4;
    color: $brown-color;
    text-decoration: none;
    // text-shadow: 0 0 1px #000;
    font: 10em Helvetica, "Helvetica Neue";
    // -webkit-border-radius: 30px;
    // -moz-border-radius: 30px;
    // border-radius: 30px;
    // -webkit-box-shadow: 0 0 2px #999;
    // -moz-box-shadow: 0 0 2px #999;
    // box-shadow: 0 0 2px #999;
}

.movie-carousel-control-prev {
    left: -50px;
    top: -1px;
    height: 202px;
    width: 50px
}

.movie-carousel-control-next {
    right: -50px;
    top: -1px;
    height: 202px;
    width: 50px
}

.movie-carousel-control-prev:hover span,
.movie-carousel-control-next:hover span {
    top: 100px;
    display: block;
}

.movie-carousel-control-prev.inactive,
.movie-carousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}


// Slider styling

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 12px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #b19e9a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #2b2321;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  height: 1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #2b2321;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #b19e9a;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 12px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #b19e9a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #2b2321;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  height: 1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #2b2321;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #b19e9a;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #b19e9a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #2b2321;
  border-radius: 25px;
  border: 0px solid rgba(43, 35, 33, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #2b2321;
  border: 0px solid rgba(43, 35, 33, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(172, 30, 52, 0), 0px 0px 0px rgba(194, 34, 59, 0);
  border: 0px solid rgba(172, 30, 52, 0);
  height: 25px;
  width: 18px;
  border-radius: 10px;
  background: $red;
  cursor: pointer;
  height: 2px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #2b2321;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #b19e9a;
}

.display-none {
    display: none;
}

#container {

    .item {
        width: 25%;
        min-width: 250px;

        .outline {
                padding: 0;
                margin: 0.5em;
                -webkit-box-shadow: 0px 0px 20px -7px black;
                -moz-box-shadow: 0px 0px 20px -7px black;
                box-shadow: 0px 0px 20px -7px black;
                background-color: white;

                * {
                    padding: 0.5em;

                    * {
                        padding: 0;
                    }
                }

                img {
                    width: calc(100% - 1em);
                }

                h1 {
                    padding: 0.25em 0.5em;
                    background-color: $red;
                    color: white;
                }

                strong {
                    font-weight: bold;
                }

                .primary {
                    font-size: 3em;
                    padding: 0.125em 0.25em;
                }

                .play {
                    position: absolute;
                    left: calc(50% - 0.75em);
                    top: calc(50% - 1em);
                    font-size: 4em;

                    @media screen and (max-width: 999px) {
                        font-size: 3em;
                    }

                    @media screen and (max-width: 520px) {
                        font-size: 2em;
                    }
                }
        }

        @media screen and (max-width: 999px) {
            min-width: 0;
            width: 33.33%
        }

        @media screen and (max-width: 520px) {
            min-width: 0;
            width: 50%
        }
    }

    .availability {

        img {
            max-height: 120px;
            margin: 0 auto;
            display: block;
        }

        p {
            text-align: right;
        }
    }
}
