<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/photos/flatLogo.svg" alt="IMDB">
            <img id="ad" src="../assets/photos/ad.png" alt="Advertisement">
            <nav>
                <input type="text" placeholder="Search...">
                <i class="fa fa-search"></i>
                <ul>
                    <li>
                        John Smith <i class="fa fa-cog"></i>
                    </li>
                    <li class="mode-option">
                        <span>Casual User</span><i class="fa fa-angle-down"></i>
                    </li>
                    <li class="mode-option">
                        <input id="mode-slider" type="range" class="slider" min="1" max="3" value="1" style="width: 70%;">
                        <div>
                            <i class="fa fa-video-camera" alt="Casual User"></i>
                            <i class="fa fa-film" alt="Movie Junkie"></i>
                            <i class="fa fa-briefcase" alt="Film Pro"></i>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item", "stamp": ".stamp" }'>
            <div class="item stamp stamp1">
                <div class="outline">
                    <img src="../assets/photos/rdjr.jpg" >
                </div>
            </div>
            <div class="item">
                <div class="outline">
                    <h1 class="primary">Robert Downey Jr.</h1>
                    <p> Actor| Producer | Soundtrack </p>
                    <p> Robert Downey Jr. has evolved into one of the most respected actors in Hollywood. With an amazing list of credits to his name, he has managed to stay new and fresh even after over four decades in the business. Downey was born April 4, 1965 in Manhattan, New York, the son of writer, director and filmographer Robert Downey Sr. and actress ...</p>
                    <p><strong>Born:</strong> April 4, 1965 in New York City, New York, USA </p>
                    <div class="junkie">
                        <strong>Rating: </strong> PG-13
                    </div>
                </div>
            </div>
            <div class="item casual junkie pro">
                <div class="outline">
                    <h1>Personal Detail</h1>
                    <p> <strong>Height:</strong> 5' 8½" (1.74 m) </p>
                    <p><strong>Alternate Names:</strong> Bob Downey | Robert Downey | Robert Downey Jr</p>
                    <p><strong>Official Sites:</strong> <elem> Facebook Fan Page </elem> | <i>Twitter</i> </p>
                    <p><strong>Publicity Listings:</strong> 2 Print Biographies | 10 Interviews | 24 Articles | 8 Pictorials | 23 Magazine Cover Photos |</p>
                    <p><strong>Other Works:</strong> Promotion and limited personal appearance tour for The Route V50 (2004) film online, a twelve minute featurette he made, in 2003, for Volvo, then a division of Ford Motor Company's Premier Automotive Group.</p>
                </div>
            </div>
            <div class="item casual junkie ">
                <div class="outline">
                    <h1>Known For</h1>
                    <img src="../assets/photos/kf.jpg" >
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Box Office</h1>
                     <ul>
                        <li>
                            <strong>1. Marvel's The Avengers ($623,357,910) </strong>
                        </li>
                        <li>
                            2. Iron Man 3 ($409,013,994)
                        </li>
                        <li>
                            3. Iron Man ($318,412,101)
                        </li>
                        <li>
                            4. Iron Man 2 ($312,412,331)
                        </li>
                        <li>
                            5. Sherlock Holmes ($209,028,679)
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="item casual junkie">
                <div class="outline">
                    <h1>Related Videos</h1>
                    <img src="../assets/photos/rv.jpg" >
                </div>
            </div>
            
            <div class="item pro">
                <div class="outline">
                    <h1>Company</h1>
                    <ul>
                        <li>
                            Buena Vista (Burbank, California)
                        </li>
                        <li>
                            Paramount (Hollywood, California)
                        </li>
                        <li>
                            Warner Bros. (Burbank, California)
                        </li>
                        <li>
                           Orion Pictures (Los Angeles, California)
                        </li>
                        <li>
                           Fox (Los Angeles, California)
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="item junkie">
                <div class="outline">
                    <h1>Awards</h1>
                    <img src="../assets/photos/movieAward.svg" alt="movieAward">
                    <p>Nominated for two Academy Awards in Sound Editing and Visual Effects.</p>
                    <p><strong>See All Awards</strong></p>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Did You Know?</h1>
                    <p><strong>Personal Quote: </strong>  [His Golden Globe acceptance speech for Best Actor-Comedy or Musical] If you start playing violins, I will tear this joint apart. First of all, I want to thank my wife Susan Downey for telling me Matt Damon was going to win so don't bother to prepare a speech. That was at about ten AM. I don't have anybody to thank. I'm sorry. Everyone's been so gratuitous, it was a collaboration, we all did this...</p>
                    <p><strong>Trivia: </strong> Was a fan of the Iron Man comics as a kid.</p>
                    <p><strong>Trademark: </strong> Frequently plays intelligent but eccentric characters</p>
                    <p><strong>Nickname: </strong> RDJ</p>
                    <p><strong>Star Sign:</strong> Aries</p>
                </div>
            </div>
            
            <div class="item pro">
                <div class="outline">
                    <h1>Agent Contact</h1>
                    <p><strong>(555) 555-5555</strong> </p>
                    <p>View agent, publicist and company </p>
                </div>
            </div>

            <div class="item pro cast">
                <div class="outline">
                    <h1>People Also Viewed</h1>
                    <ul>
                        <li>
                            <img src="../assets/photos/mr.jpg">
                            <span>Mark Ruffalo</span>
                        </li>
                        <li>
                            <img src="../assets/photos/jr.jpg">
                            <span>Jeremy Renner</span>
                        </li>
                        <li>
                            <img src="../assets/photos/dc.jpg">
                            <span>Don Cheadle</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast4.jpg">
                            <span>Gwyneth Paltrow</span>
                        </li>
                        <li>
                            <img src="../assets/photos/am.jpg">
                            <span>Anthony Mackie</span>
                        </li>
                        <li>
                            <img src="../assets/photos/scarjo.jpg">
                            <span>Scarlett Johansson</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item other">
                 <div class="background"></div>
                <div class="outline">
                    <h1>Other Component</h1>
                    <ul>
                        <li>
                            Filmography
                        </li>
                        <li>
                            Biography
                        </li>
                        <li>
                            Photo Gallery
                        </li>
                        <li>
                            Message Boards
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>
