<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/photos/flatLogo.svg" alt="IMDB">
            <img id="ad" src="../assets/photos/ad.png" alt="Advertisement">
            <nav>
                <input type="text" placeholder="Search...">
                <i class="fa fa-search"></i>
                <ul>
                    <li>
                        John Smith <i class="fa fa-cog"></i>
                    </li>
                    <li class="mode-option">
                        <span>Casual User</span><i class="fa fa-angle-down"></i>
                    </li>
                    <li class="mode-option">
                        <input id="mode-slider" type="range" class="slider" min="1" max="3" value="1" style="width: 70%;">
                        <div>
                            <i class="fa fa-video-camera" alt="Casual User"></i>
                            <i class="fa fa-film" alt="Movie Junkie"></i>
                            <i class="fa fa-briefcase" alt="Film Pro"></i>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item", "stamp": ".stamp" }'>
            <div class="item stamp stamp1">
                <div class="outline">
                    <img src="../assets/photos/Ironmanposter.jpg">
                </div>
            </div>
            <div class="item">
                <div class="outline">
                    <h1 class="primary">Iron Man</h1>
                    <p>May 2, 2008 | 126 min | Action, Adventure, Sci-Fi</p>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                    <p><strong>Director:</strong> Jon Favreau</p>
                    <p><strong>Writers:</strong> Mark Fergus, Hawk Otsby...</p>
                    <p><strong>Stars:</strong> Robert Downey Jr., Gwyneth Paltrow, Terrence Howard...</p>
                    <div class="junkie">
                        <p><strong>Rating:</strong> PG-13</p>
                    </div>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Plot</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Cast</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Crew</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Sales Figures</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Box Office Standings</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Company and Budget</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item casual junkie">
                <div class="outline">
                    <img src="../assets/photos/Ironmantrailer.jpg">
                    <i class="fa fa-play play"></i>
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>Parent Guide</h1>
                    <img src="../assets/photos/ParentGuide.svg" alt="ParentGuide">
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>Critic Score</h1>
                    <img src="../assets/photos/CriticRating.svg" alt="CriticRating">
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Critic Reviews</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>User Score</h1>
                    <img src="../assets/photos/UserRating.svg" alt="UserRating">
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>User Reviews</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item availability">
                <div class="outline">
                    <h1>Availability</h1>
                    <img src="../assets/photos/Availability.svg" alt="Availability">
                    <p>Powered by Amazon</p>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Message Boards</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item">
                <div class="outline">
                    <h1>Awards</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Trivia</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Quotes</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Related News</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
            <div class="item">
                <div class="outline">
                    <h1>Other Component Buttons</h1>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                </div>
            </div>
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>
