<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/photos/flatLogo.svg" alt="IMDB">
            <img id="ad" src="../assets/photos/ad.png" alt="Advertisement">
            <nav>
                <input type="text" placeholder="Search...">
                <i class="fa fa-search"></i>
                <ul>
                    <li>
                        John Smith <i class="fa fa-cog"></i>
                    </li>
                    <li class="mode-option">
                        <span>Casual User</span><i class="fa fa-angle-down"></i>
                    </li>
                    <li class="mode-option">
                        <input id="mode-slider" type="range" class="slider" min="1" max="3" value="1" style="width: 70%;">
                        <div>
                            <i class="fa fa-video-camera" alt="Casual User"></i>
                            <i class="fa fa-film" alt="Movie Junkie"></i>
                            <i class="fa fa-briefcase" alt="Film Pro"></i>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item", "stamp": ".stamp" }'>
            <div class="item stamp stamp1">
                <div class="outline">
                    <img src="../assets/photos/Ironmanposter.jpg">
                </div>
            </div>
            <div class="item">
                <div class="outline">
                    <h1 class="primary">Iron Man</h1>
                    <p>May 2, 2008 | 126 min | Action, Adventure, Sci-Fi</p>
                    <p>After being held captive in an Afghan cave, an industrialist creates a unique weaponized suit of armor to fight against evil. This leads him to conflict within his own company.</p>
                    <div class="casual junkie">
                        <p><strong>Director:</strong> Jon Favreau</p>
                        <p><strong>Writers:</strong> Mark Fergus, Hawk Otsby...</p>
                    </div>
                    <div class="casual">
                        <p><strong>Stars:</strong> Robert Downey Jr., Gwyneth Paltrow, Terrence Howard...</p>
                    </div>
                    <div class="junkie pro">
                        <p><strong>Rating:</strong> PG-13</p>
                    </div>
                </div>
            </div>
            <div class="item junkie">
                <div class="outline">
                    <h1>Plot</h1>
                    <p> &emsp; Tony Stark. Genius, billionaire, playboy, philanthropist. Son of legendary inventor and weapons contractor Howard Stark. When Tony Stark is assigned to give a weapons presentation to an Iraqi unit led by Lt. Col. James Rhodes, he's given a ride on enemy lines. That ride ends badly when Stark's Humvee that he's riding in is attacked by enemy combatants. He survives - barely - with a chest full of shrapnel and a car battery attached to his heart. In order to survive he comes up with a way to miniaturize the battery and figures out that the battery can power something else. Thus Iron Man is born. He uses the primitive device to escape from the cave in Iraq. Once back home, he then begins work on perfecting the Iron Man suit. But the man who was put in charge of Stark Industries has plans of his own to take over Tony's technology for other matters.</p>
                </div>
            </div>
            <div class="item junkie pro cast">
                <div class="outline">
                    <h1>Cast</h1>
                    <ul>
                        <li>
                            <img src="../assets/photos/cast/cast1.jpg">
                            <span>Robert Downey Jr. - Tony Stark / Iron Man</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast2.jpg">
                            <span>Terrence Howard - Rhodey</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast3.jpg">
                            <span>Jeff Bridges - Obadiah Stane</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast4.jpg">
                            <span>Gwyneth Paltrow - Pepper Potts</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast5.jpg">
                            <span>Leslie Bibb - Christine Everhart</span>
                        </li>
                        <li>
                            <img src="../assets/photos/cast/cast6.jpg">
                            <span>Shaun Toub - Yinsen</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item pro crew">
                <div class="outline">
                    <h1>Crew</h1>
                    <ul>
                        <li>
                            Director: Jon Favreau
                        </li>
                        <li>
                            Writer: Mark Fergus, Hawk Ostby, Art Marcum & Matt Holloway
                        </li>
                        <li>
                            Producer: Avi Arad & Kevin Feige
                        </li>
                        <li>
                            Music: Ramin Djawadi
                        </li>
                        <li>
                            Cinematography: Matthew Libatique
                        </li>
                        <li>
                            Editor: Dan Lebental
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item pro sales">
                <div class="outline">
                    <h1>Sales Figures</h1>
                    <div>
                        <strong>Budget:</strong>
                        <span>$140,000,000</span>
                    </div>
                    <div>
                        <strong>Box Office:</strong>
                        <span>$585,100,000</span>
                    </div>
                    <div>
                        <strong>Opening Weekend:</strong>
                        <span>$102,118,668</span>
                    </div>
                </div>
            </div>
            <div class="item pro opening">
                <div class="outline">
                    <h1>Opening Week Standings</h1>
                    <ul>
                        <li>
                            <strong>1. Iron Man ($123,134,395)</strong>
                        </li>
                        <li>
                            2. Made of Honor ($18,675,171)
                        </li>
                        <li>
                            3. Baby Mama ($12,613,110)
                        </li>
                        <li>
                            4. Harold and Kumar Escape from Guantanamo Bay ($8,305,920)
                        </li>
                        <li>
                            5. Forgetting Sarah Marshall ($8,272,085)
                        </li>
                        <li>
                            Top place was held from May 2-15.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item pro company">
                <div class="outline">
                    <h1>Companies</h1>
                    <ul>
                        <li>
                            Production Companies: Paramount Pictures, Marvel Enterprises, Marvel Studios...
                        </li>
                        <li>
                            Distributors: Paramount Pictures, Universal Pictures International, Sony Pictures Entertainment...
                        </li>
                        <li>
                            Special Effects: Stan Winston Studio, Industrial Light & Magic, Tata Elxsi Visual Computing Lab...
                        </li>
                        <li>
                            Music: Ramin Djawadi
                        </li>
                        <li>
                            Cinematography: Matthew Libatique
                        </li>
                        <li>
                            Editor: Dan Lebental
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item casual junkie">
                <div class="outline">
                    <img src="../assets/photos/Ironmantrailer.jpg">
                    <i class="fa fa-play play"></i>
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>Parent Guide</h1>
                    <img src="../assets/photos/ParentGuide.svg" alt="ParentGuide">
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>Critic Score</h1>
                    <img src="../assets/photos/CriticRating.svg" alt="CriticRating">
                    <p><strong>Consensus</strong>
                        <br>
                        "Is it possible to have yet another expensive excursion into this genre that seems in any way fresh, original and alive? The answer, surprisingly, is yes."
                    </p>
                </div>
            </div>
            <div class="item junkie reviews">
                <div class="outline">
                    <h1>Critic Reviews</h1>
                    <div>
                        <img src="../assets/photos/stars4.svg" alt="Availability">
                        <p><strong>Roger Ebert - rogerebert.com</strong></p>
                        <p>When I caught up with "Iron Man," a broken hip had delayed me and the movie had already been playing for three weeks. What I heard during that time was that a lot of people loved it, that they were surprised to love it so much, and that Robert Downey Jr.'s performance was special...</p>
                    </div>
                    <div>
                        <img src="../assets/photos/stars4.svg" alt="Availability">
                        <p><strong>Paul Arendt - BBC Movies</strong></p>
                        <p>Is it summer already? The first of the big budget superhero blockbusters has arrived, and it's a roaring success, thanks to a combination of superb special effects and canny casting. Robert Downey Jr is Tony Stark...</p>
                    </div>
                    <div>
                        <img src="../assets/photos/stars3.svg" alt="Availability">
                        <p><strong>Peter Travers - Rolling Stone</strong></p>
                        <p>There's no rust on this baby. Iron Man kicks off summern a blazing high note and practically dares the competition to measurep. It's been years since a movie superhero was this fierce and this funny...</p>
                    </div>
                </div>
            </div>
            <div class="item casual">
                <div class="outline">
                    <h1>User Score</h1>
                    <img src="../assets/photos/UserRating.svg" alt="UserRating">
                    <p><strong>Top Review</strong>
                        <br>
                        "Delivers Intelligence & Great Acting with its Fun"
                    </p>
                </div>
            </div>
            <div class="item junkie reviews">
                <div class="outline">
                    <h1>User Reviews</h1>
                    <div>
                        <img src="../assets/photos/stars5.svg" alt="Availability">
                        <p><strong>z-mbe</strong></p>
                        <p>Rest assured, Iron Man is an absolutely amazing movie. I won't dare spoil any of this remarkable movie for you but I do recommend it as highly...</p>
                    </div>
                    <div>
                        <img src="../assets/photos/stars4.svg" alt="Availability">
                        <p><strong>VithDos</strong></p>
                        <p>So the world premier of Iron man to regular movie going audiences happened to be here in Seoul Korea on an army installation. I got to check it out and I was delightfully surprised...</p>
                    </div>
                    <div>
                        <img src="../assets/photos/stars5.svg" alt="Availability">
                        <p><strong>ffiisshh</strong></p>
                        <p>WOW WOW WOW. This is the movie I have been waiting for for a very long time. I am an avid Ironman reader. I have collected the comics all my life (from #1 in 1968 to the latest in 2008)...</p>
                    </div>
                </div>
            </div>
            <div class="item availability">
                <div class="outline">
                    <h1>Availability</h1>
                    <img src="../assets/photos/Availability.svg" alt="Availability">
                    <p>Powered by Amazon</p>
                </div>
            </div>
            <div class="item junkie board">
                <div class="outline">
                    <h1>Message Boards</h1>
                    <div><a href="#">Sentient Computer (hasen-07476)</a></div>
                    <div><a href="#">Best of the Three (Kirkismyhero)</a></div>
                    <div><a href="#">Cave scenes take me out of the movie (tombo677)</a></div>
                    <div><a href="#">only a year away from the conclusion of phase 2 and iron man.... (chicotheman)</a></div>
                    <div><a href="#">Does anybody miss the pre-Avengers days? (EpsilonX)</a></div>
                </div>
            </div>
            <div class="item awards">
                <div class="outline">
                    <h1>Awards</h1>
                    <img src="../assets/photos/movieAward.svg" alt="movieAward">
                    <p>Nominated for two Academy Awards in Sound Editing and Visual Effects.</p>
                    <p><strong>See All Awards</strong></p>
                </div>
            </div>
            <div class="item junkie trivia">
                <div class="outline">
                    <h1>Trivia</h1>
                    <ul>
                        <li>To prepare for his role as Iron Man, Robert Downey Jr. spent five days a week weight training and practiced martial arts to get into shape.</li>
                        <li>To avoid spoilers about the final press conference, the extras were told that it was a dream sequence.</li>
                        <li>Rhodey's ringtone for when Tony Stark calls him is a midi version of the theme music to the 1966 Iron Man cartoon.</li>
                    </ul>
                </div>
            </div>
            <div class="item junkie quotes">
                <div class="outline">
                    <h1>Quotes</h1>
                    <ul>
                        <li>[reading the newspaper] Iron Man. That's kind of catchy. It's got a nice ring to it. I mean it's not technically accurate. The suit's a gold titanium alloy, but it's kind of provocative, the imagery anyway.
                            <br><span>- Tony Stark</span>
                        </li>
                        <li>How ironic, Tony! Trying to rid the world of weapons, you gave it its best one ever! And now, I'm going to kill you with it!
                            <br><span>- Obadiah Stane</li></span>
                        <li>Yeah, I can fly.
                            <br><span>- Tony Stark</li></span>
                    </ul>
                </div>
            </div>
            <div class="item pro">
                <div class="outline">
                    <h1>Related News</h1>
                    <div>
                        <a href="#">Watch Avengers: Age of Ultron Star Scarlett Johansson Host SNL</a>
                        <br>
                        4 hours ago
                    </div>
                    <div>
                        <a href="#">In Defense Of... Masters of the Universe, Dolph Lundgren's fantasy flop</a>
                        <br>
                        8 hours ago
                    </div>
                    <div>
                        <a href="#">Avengers: Age of Ultron ending analysis with spoilers</a>
                        <br>
                        18 hours ago
                    </div>
                </div>
            </div>
            <div class="item other">
                <div class="outline">
                    <h1>Other Components</h1>
                    <ul>
                        <li>
                            Trailer
                        </li>
                        <li>
                            Availability
                        </li>
                        <li class="junkie">
                            Parent Guide
                        </li>
                        <li class="junkie">
                            Critic Score
                        </li>
                        <li class="junkie">
                            User Score
                        </li>
                        <li class="casual pro">
                            Plot
                        </li>
                        <li class="casual">
                            Cast
                        </li>
                        <li class="casual pro">
                            User Reviews
                        </li>
                        <li class="casual pro">
                            Critic Reviews
                        </li>
                        <li class="casual pro">
                            Message Boards
                        </li>
                        <li class="casual pro">
                            Trivia
                        </li>
                        <li class="casual pro">
                            Quotes
                        </li>
                        <li class="casual junkie">
                            Crew
                        </li>
                        <li class="casual junkie">
                            Sales Figures
                        </li>
                        <li class="casual junkie">
                            Opening Standings
                        </li>
                        <li class="casual junkie">
                            Companies
                        </li>
                        <li class="casual junkie">
                            Related News
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>
